/SimulinkUnrealPluginTutorial/UnrealEnvironment/.vs/
/SimulinkUnrealPluginTutorial/UnrealEnvironment/Backup/
/SimulinkUnrealPluginTutorial/UnrealEnvironment/Binaries/
/SimulinkUnrealPluginTutorial/UnrealEnvironment/Intermediate/

/EllingtonPoolSim/.vs/
/EllingtonPoolSim/Backup/
/EllingtonPoolSim/Binaries/
/EllingtonPoolSim/Intermediate/

/SimulinkCoSimulation/slprj/
/SimulinkCoSimulation/EllingtonPoolSim/Saved/AutoSaves/
/SimulinkCoSimulation/EllingtonPoolSim/.vs/
/SimulinkCoSimulation/EllingtonPoolSim/Backup/
/SimulinkCoSimulation/EllingtonPoolSim/Binaries/
/SimulinkCoSimulation/EllingtonPoolSim/Intermediate/