/SimulinkUnrealPluginTutorial/UnrealEnvironment/.vs/
/SimulinkUnrealPluginTutorial/UnrealEnvironment/Backup/
/SimulinkUnrealPluginTutorial/UnrealEnvironment/Binaries/
/SimulinkUnrealPluginTutorial/UnrealEnvironment/Intermediate/

/EllingtonPoolSim/.vs/
/EllingtonPoolSim/Backup/
/EllingtonPoolSim/Binaries/
/EllingtonPoolSim/Intermediate/
